# Flutter
.dart_tool/
.packages
.pub/
build/
*.iml
.idea/
.metadata

# Android
android/.gradle/
android/local.properties
android/captures/
android/gradlew
android/gradlew.bat
android/key.properties
*.jks
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/Flutter/engine/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.vscode/

# pubspec.lock is included for apps
!pubspec.lock
